body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background: #f5f7fa;
}


/* ヘッダー */

header {
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin: 5px 0;
}

.term-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
}

.term-box input {
  font-size: 12px;
}

.term-box button {
  font-size: 12px;
}


/* 表 */

#app {
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 4px;
}

th {
  background: #eaf0f7;
  font-size: 11px;
}

.period {
  width: 65px;
}

.period span {
  font-size: 9px;
  color: #555;
}

td {
  height: 55px;
  font-size: 11px;
  cursor: pointer;
}

.name {
  font-weight: bold;
  font-size: 12px;
}

.room {
  font-size: 10px;
  color: #444;
}


/* モーダル */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 340px;
  padding: 15px;
  border-radius: 10px;
}

.modal-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.modal-box label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  margin-top: 3px;
}

textarea {
  height: 60px;
}


.btn-area {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 7px 15px;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 5px;
}

button:last-child {
  background: #999;
}
